fastapi>=0.112.0
uvicorn>=0.30.0
python-multipart>=0.0.9
pdfplumber>=0.11.0
python-docx>=1.1.2
# Force Google AI Stack Update
google-auth>=2.27.0
google-api-core>=2.15.0
google-ai-generativelanguage>=0.6.1
google-generativeai>=0.8.3
# Force Pydantic Stack Update
pydantic>=2.9.0
typing-extensions>=4.12.0
numpy>=1.26.0
